<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @profile.user %>
</p>

<p>
  <b>Desc:</b>
  <%= @profile.desc %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
